/* PSEUDO CLASSES

:active - quando o elemento está ativo, ou seja, está sendo pressionado
:visited - seleciona o link que foi visitado
:hover - quando o mouse passe em cima do elemento
:checked - usado em radio / checkbox / select
:disabled - elemento desabilitado / button / input
:enabled - elemento está habilitado
:focus - é aplicada quando um elemento recebe foco, o que pode ocorrer quando o usuário seleciona o elemento
: read-only - seleciona input ou textarea que são apenas leitura
:empty - elemento que não tem filho

:first-child - primeiro filho / ex: primeira li de uma ul / primeiro span de uma div
:first-of-type - primeiro elemento de seu tipo entre os filhos de seu elemento pai
:last-chilc - último filho
:last-of-type - último elemento de seu tipo entre os filhos de seu elemento pai
:not() - estiliza os elementos, exceto o que está dentro do ()
:nth-child() - seleciona o elemento baseado na sua posição. Ex.: :nth-child(3)
:nth-last-child() - seleciona o elemento baseado na sua posição, contando de trás para frente.

obs.: para pseudoelementos usa-se :: e para pseudo classes usa-se :
*/

* {
    margin: 100;
    padding: 100;
    box-sizing: border-box;
}

li:nth-last-child(1){
    color: red;
}