/* PSEUDO ELEMENTOS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: 1px solid red;
    color: blue;
}

input::placeholder /* o placeholder é um pseudoelemento, daí coloca dois "dois pontos" */
{
    color: #ff1396;
}

p {
    color: blue;
}

p::first-letter {
    color: red;
}

a {
    color: blue;
}

a::before {
    content: "😃";
}

a::after {
    content: "🐻";
}